[Unit]
Description=EC2 Deploy uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.pyenv/versions/study-ec2-deploy/bin/uwsgi -i /srv/ec2-deploy/.config/uwsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target